{% extends "base_.html" %}
{% import 'macros_event.html' as event %}
{% block row %}
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">
{% for date, speaker, affiliation, title, abstract, bio, conf_link, recording_consent, recording_link in [talk] %}
  {% set footer %}
    {% if future %}
      {% if conf_link %}
      <a href="{{conf_link if conf_link else ''}}">video conference link</a>
      {% else %}
      video conference link will be posted shortly
      {% endif %}
    {% else %}
      {% if recording_link %}
      <a href="{{recording_link if conf_link else ''}}">video recording</a>
      {% elif recording_consent %}
      video recording link will be posted shortly
      {% else %}
      this talk was not recorded
      {% endif %}
    {% endif %}
  {% endset %}
  {{ event.event(date, speaker, affiliation, title, abstract, bio, footer) }}
{% endfor %}
</div>
</div>
</div>
{% endblock %}
