{% extends "base_.html" %}
{% import 'macros_event.html' as event %}
{% block title %}
{{talk[2] | e}}: {{talk[4] | e}} — {{EVENT_NAME | e}}
{% endblock %}
{% block description %}
{{talk[5] | e}}
{% endblock %}
{% block row %}
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">
{% for date, warmup, speaker, affiliation, title, abstract, bio, conf_link, recording_consent, recording_link, location in [talk] %}
  {% set footer %}
    {% if future and not warmup %}
    {{event.location_and_conf_link(location, conf_link)}}
    {% else %}
      {% if recording_link %}
      <a href="{{recording_link if recording_link else ''}}">video recording</a>
      {% elif recording_consent %}
      <!--video recording link will be posted shortly-->
      {% else %}
      this talk was not recorded
      {% endif %}
    {% endif %}
  {% endset %}
  {{ event.event(date, speaker, affiliation, title, abstract, bio, warmup, recording_consent and not future, footer, has_warmup) }}
{% endfor %}
</div>
</div>
</div>
{% endblock %}
