{% extends "base_iframe.html" %}
{% import 'macros_event.html' as event %}
{% block row %}
<div class="col-md-12">
{% if records %}
{% for date, speaker, affiliation, title, abstract, bio, conf_link, location in records %}
  {% set footer %}
  {{event.location_and_conf_link(location, conf_link)}}
  {% endset %}
  {{ event.event(date, speaker, affiliation, title, abstract, bio, 0, False, footer) }}
{% endfor %} 
{% else %}
<p>No scheduled talks in the next week.</p>
{% endif %}
</div>
{% endblock %}
