{% extends "admin_blank.html" %}
{% block row %}

From here you can configure the website, invite speakers, and judge applications for warmup talks.

<h2>Standard Operating Procedures</h2>

<h3>Invite</h3>
<p>
Check with the organizers whether they approve of the speaker, then go to the admin page
to make a private invitation page to share with the speaker.
</p>

<p>
It is flat out impossible to invite a speaker less than 10ish days in advance: too many administrative tasks to be done on such short notice.
The speaker needs to accept the invitations at least 10ish days in advance for the same reason. They have to fill out the talk description and bio: TBD is not an acceptable description.
The exact cutoff can be changed in the configuration menu.
</p>

<p>
The invite page is private but not password protected – it is to be shared with the speaker.
</p>

<p>
A separate public page will be generated if the speaker accepts the invite.
</p>

<h3>Once the invite is accepted</h3>

<p>
The email list notifications, zoom room, meeting schedule, are generated and scheduled automatically. Two sets of notifications will be sent: one a week early and one the day before.
</p>

<p>
Make sure that:
<ol>
<li>
The room is actually reserved if in-person (it can be edited)
</li>
<li>
Travel is arranged if in-person
</li>
<li>
People are actually signing up on the meeting schedule if there are one-on-one meetings with the speaker
</li>
<li>
The meeting schedule is edited to match the speaker preferences and stay duration
</li>
<li>
There are appropriate lunch/dinner opportunities
</li>
<li>
The speaker will automatically get the schedule,
but be ready to remind them where to find it.
</li>
</ol>
</p>

<p>
On the day of the talk:
<ol>
<li>
 Make sure the speaker has access to the campus if in-person
</li>
<li>
 Have someone meet the speaker
</li>
<li>
 Have an office for the speaker
</li>
<li>
 Go to the conference room AN HOUR IN ADVANCE to check whether it is clean
</li>
<li>
 Start setting up the zoom video call at least 15 minutes in advance,
or you are absolutely certain to have problems,
making the seminar incredibly unprofessional and embarrassing.
</li>
<li>
 If possible set up a good room microphone
</li>
<li>
 Record the talk through zoom (do not make multiple recordings, use the pause button if necessary)
</li>
</ol>
</p>

<p>
The recording will be automatically uploaded to the website.
</p>

<p>
<strong>
The Host has to take
personal responsibility for
making this a smooth experience.

This is not a triviality,
it has to be taken seriously for it to work.
</strong>
</p>

{% endblock %}
