{% macro event(date, tz, speaker, affiliation, title, abstract, bio, warmup, showvideo, footer, has_warmup) %}
<div class="panel panel-default" id="panel-{{date}}">
  <div class="panel-heading">
    <h3 id="time{{date}}">{{date}} | {{tz}}</h3>
    <script>document.getElementById("time{{date}}").innerText = (new luxon.DateTime.fromSQL('{{date}}')).setZone('{{tz}}',{keepLocalTime:true}).toLocal().toLocaleString({hour: "numeric", minute: "numeric", hourCycle: "h23", timeZoneName: "short", ...luxon.DateTime.DATE_MED});</script>
    <h2><a href="/event/{{date}}/{{warmup}}">{{speaker | e}}</a> <span class="badge badge-secondary">{{affiliation}}</span></h2>
  </div>
  <div class="panel-body">
  <h2><a href="/event/{{date}}/{{warmup}}">{{title | e}}</a></h2>
  <div style="white-space:pre-wrap">{{abstract | e}}</div>
  <h4>Speaker's Bio</h4>
  <div style="white-space:pre-wrap;max-height:500px;overflow-y:auto;">{{bio | e}}</div>
  </div>
  {% if showvideo and not warmup %}
  <div style="margin:1em;">
  <video id="video{{date | replace(" ","_") | replace(":","_")}}-{{warmup+0}}" controls style="width:100%" preload="none" poster="/video/poster/{{date}}-{{warmup+0}}.jpg"></video>
<script src="/static/hls.js"></script>
<script>
  (function (){
  var video = document.getElementById('video{{date | replace(" ","_") | replace(":","_")}}-{{warmup+0}}');
  var videoSrc = '/video/hls/{{date | replace(" ","_") | replace(":","_")}}-{{warmup+0}}.m3u8';
  var videoSrcmp4="/video/{{date}}-{{warmup+0}}.mp4";
  if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = videoSrc;
  } else if (Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource(videoSrc);
    hls.attachMedia(video);
  } else {
    video.src = videoSrcmp4;
  }
  })();
</script>
  </div>
  {% endif %}
  <div class="panel-footer">
  {{footer}}
  {% if warmup %}
  <strong>This is a short "warmup" talk for <a href="/event/{{date}}/0">another talk</a>.</strong>
  {% endif %}
  {% if has_warmup %}
  <br>This talk is preceeded by <a href="/event/{{date}}/1">a short talk from a junior scientist</a>.
  {% endif %}
  </div>
</div>
{% endmacro %}

{% macro location_and_conf_link(location, conf_link) %}
    {% if location %}
    Location: {{location}}
    {% else %}
    {% endif %}
    {% if location and conf_link %}
    |
    {% endif %}
    {% if conf_link %}
    <a href="{{conf_link if conf_link else ''}}">video conference link</a>
    {% else %}
    video conference link will be posted shortly
    {% endif %}
{% endmacro %}
